/* App.css */

#root {
  margin-left: auto;
  margin-right: auto;
}
/* Contenedor principal para toda la aplicación */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido al inicio */
}

/* Estilo para las páginas Login y Register */
.route-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Ocupa todo el espacio disponible en la pantalla */
}

/* Estilo específico para el formulario de Login y Register */
.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* Controla el tamaño del formulario */
  padding: 30px;
  background-color: white;
  box-shadow: 0 10px 50px rgba(22, 22, 22, 0.1);
  border-radius: 8px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .login-register-container {
    padding: 20px;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
